<h2>Authentication to Facebook has failed</h2>
<p>Redirecting you to the home page.</p>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/"; 
        }, 3000);
    });
</script>