<div class="row d-flex justify-content-center">
    <div class="col-md-8 text-center">
        <h1>How It Works</h1>
        <h3>sharemyski helps people find ski rentals all over the world</h3>
        <div class="row">
            <p class="text-left">
                sharemyski is the best place to rent skis or a snowboard. peroiod. Through our service, owners list their snow equipment,
                renters search for gear in whatever area they wish to, and they can complete the rental process easily through our
                website.</p>
        </div>

    </div>
</div>