<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <div class="row d-flex justify-content-center mb-4">
      <div class="col-md-10 ">
  <div id="map" style="height: 400px; "></div>
</div>
</div>
<style>
  .my-div-icon {
    font-size: 50px;
  }
</style>
<div class="row d-flex justify-content-center">
      <div class="col-md-10 " id="stuffContainer">
</div >

</div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script>
    let lat = `{{lat}}`;
    let lng = `{{lng}}`;
  </script>
<script src="/js/search.js"></script>